 <!--------------------HEADER------------------------------------------------>
 <header class="center padded grid">
    <div class="col-12_sm-8-middle center">
        <a href="/index">
        <img src="/images/logo.png" class="logo">
        </a>
    </div>
    <div class="col-12-middle center hide-sm">
        <nav>
            <a href="/index"> HJEM</a>
            <a href="/om">OM</a>
            <a href="/losninger">LØSNINGER</a>
            <a href="/kontakt">KONTAKT</a>
        </nav>
    </div>

    <!------Mobile Menu------>
    <div class="col-4-middle show-sm right">
        <a class="hamburger-button mob-show"> 
             <i class="fas fa-bars"></i></a>
         </div>
    </div>
       
</header>

<nav class=" mobile-menu bg-light padded">
    <a href="/index" class="bold">HJEM</a>
    <a href="/losninger" class="bold">LØSNINGER</a>
    <a href="/om" class="bold">OM</a>
    <a href="/kontakt" class="bold">KONTAKT</a>
    
    
</nav>


<!-- changer h2 h3 avec include et loop -->
<!--------------------FIXED BANNER------------------------------------------------>                
<section class="banner grid-center fixed">
    <div class="col-12-middle center">
    <h1 class="light-text"> NORDSJÆLLANDS EL SERVICE </h1>
    <h3 class="not-bold light-text"> AUTO EL-INSTALLATOR </h3>
    <button><a href="tel:+004530955295"> <i class="fa-solid fa-phone phone-icon-light"></i> 30955295</a>
    </button>
    </div>
</section>
