 <!--------------------HEADER------------------------------------------------>
 <header class="center padded grid">
    <div class="col-12-middle center">
        <a href="/index.html">
        <img src="/images/logo.png" class="logo">
        </a>
    </div>
    <div class="col-12-middle center">
        <nav>
            <a href="/index.html"> HJEM</a>
            <a href="#">OM</a>
            <a href="#">LØSNINGER</a>
            <a href="#">KONTAKT</a>
        </nav>

    </div>
</header>

<!--------------------FIXED BANNER------------------------------------------------>                
<section class="banner grid-center fixed">
    <div class="col-6_sm-12-middle center">
    <h2 class="big-bold light-text"> NORDSJÆLLANDS EL SERVICE </h2>
    <h3 class="not-bold light-text"> AUTO EL-INSTALLATOR </h3>
    <a href="tel:+004530955295" class="button">30955295</a>
    </div>
</section>
