<!-- Styles  -->
<style> 

    :root {
        --dark-text: {{ site.data.site-settings.design.dark-text_color }};
        --light-text: {{ site.data.site-settings.design.light-text_color }};
        --featured-text: {{ site.data.site-settings.design.featured-text_color }};
        --featured-text-white: {{ site.data.site-settings.design.featured-text-white_color }};
        --bg-dark: {{ site.data.site-settings.design.bg-dark_color }};
        --bg-light: {{ site.data.site-settings.design.bg-light_color }};
        --bg-sand: {{site.data.site-settings.design.bg-sand_color}};
    }

</style>